$media-query-breakpoints: (
  // Mobile devices
  mobile-xs: 320px,
  // Extra small mobile devices
  mobile-sm: 375px,
  // Small mobile devices (e.g., iPhone 6/7/8)
  mobile-md: 414px,
  // Medium mobile devices (e.g., iPhone Plus)

  // Tablets
  tablet-sm: 576px,
  // Small tablets (e.g., iPad Mini)
  tablet-md: 768px,
  // Medium tablets (e.g., iPad)
  tablet-lg: 992px,
  // Large tablets (e.g., iPad Pro)

  // Desktops
  desktop-sm: 1200px,
  // Small desktops and large tablets
  desktop-md: 1440px,
  // Medium desktops
  desktop-lg: 1600px,
  // Large desktops
  desktop-xl: 1920px,
  // Extra large desktops

  // Extra large screens
  extra-large: 2560px,
  // For very large screens
);

@mixin for-bp($bp) {
  @media (min-width: map-get($media-query-breakpoints, $bp)) {
    @content;
  }
}