/* Styles for yva-social-icons-banner block */
@use "../../scss/breakpoints";

.yva-social-icons-banner {
  background-color: rgba(157, 157, 157, .2);
  display: grid;
  gap: 2rem;
  align-items: start;
  justify-items: stretch;
  padding: 20px;

  @include breakpoints.for-bp('tablet-md') {
    grid-template-columns: 1fr 1fr;
  }

  .title {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1.2rem;
  }

  .icons {
    display: flex;
    gap: 1.5rem;
    justify-content: center;

    .icon {
      img {
        width: 40px;
        height: 40px;
        object-fit: contain;
      }
    }
  }
}