.jeco-yva-footer .wrapper-full {
  display: grid;
}
@media (min-width: 1049px) {
  .jeco-yva-footer .wrapper-full {
    grid-template-columns: 4fr 2fr;
  }
}
.jeco-yva-footer .wrapper-full .left {
  text-align: center;
  padding: 1.5rem;
  display: grid;
  gap: 20px;
}
.jeco-yva-footer .wrapper-full .left * {
  margin: 0;
}
@media (min-width: 1049px) {
  .jeco-yva-footer .wrapper-full .left {
    text-align: left;
    gap: 15px;
  }
}
.jeco-yva-footer .wrapper-full .left .column2 p a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
@media (min-width: 1049px) {
  .jeco-yva-footer .wrapper-full .left .column2 p a {
    justify-content: start;
  }
}
.jeco-yva-footer .wrapper-full .logo {
  background-color: white;
  grid-row-start: 1;
  display: flex;
  align-items: center;
}
@media (min-width: 1049px) {
  .jeco-yva-footer .wrapper-full .logo {
    grid-column-start: 2;
  }
}
.jeco-yva-footer .wrapper-full .logo img {
  display: block;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}